@import '../../assets/styles';

.wrapper{
  font-family: $header-text;
  filter: none;
}

.img {
  background: url('../../assets/adam-przewoski-193_background-crop.png') no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  // filter: blur(4px);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
}


#searchbar {
  @include box;
  // padding: 25px 20px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    color: $main-color;
    font-size: 64px;
    opacity: 1;
  }
}
