@import '../../assets/styles';

button {
  background: #3850A0;
  color: #FEE715;
  font-size: 18px;
  font-family: $body-text;
  text-align: center;
  border-radius: 40px;
  height: 41px;
  width: 190px;
}
